@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans+Thai:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Sans Thai", sans-serif;
    top:0;
    margin:0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.container{
    max-width: 1200px;
    margin:0 auto;
}

table{
    margin:0 auto;
}

