@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans+Thai:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Noto Sans Thai", sans-serif;
    top:0;
    margin:0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.container{
    margin: auto;
    max-width: 1100px;
}

.logo{
    width: 100px;
    margin:10px auto;
    display:block;
}

.container-head{
    background-color:rgb(255, 255, 255);
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.head-img img{
    width: 300px;
}

.container-form{
    background-color:rgb(255, 255, 255);
    position: relative;
    border-radius: 20px;
    padding-top:20px;
}

form{
    background-color:rgb(255, 255, 255);
    box-shadow:0px 7px 29px 0px rgba(100,100,111,0.2); ;
    border-radius:25px;
    padding:10px;
    padding-top:20px;
}

table{
    margin: auto;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0 2px;
}

.header-table{
    text-align: center;
}

table td{
    padding: 18px;
    background-color:white;
}

table td input[type="radio"]{
    cursor: pointer;
}

table tr{
    box-shadow:0px 7px 29px 0px rgba(100,100,111,0.2);
    border-radius: 25px 25px 25px 25px;
}

.front-head-table{
    border-radius: 25px 0 0 25px;
    
}

.last-head-table{
    border-radius: 0px 25px 25px 0;
    
}

.submit-btn{
    width: 150px;
    height: 30px;
    font-family:"Itim", cursive;
    border: none;
    background-color:rgb(255, 103, 164);
    border-radius:50px;
    margin:20px auto 20px;
    display:block;
    transition:all 0.5s ease-out;
    color:rgb(255, 255, 255);
    box-shadow:0px 7px 29px 0px rgba(100,100,111,0.2);
    cursor:pointer;
}

.submit-btn:hover{
    width: 180px;
}

.content input{
    width: 20rem;
    border:none;
    padding:20px;
    box-shadow:0px 7px 29px 0px rgba(100,100,111,0.2);
}

/* Tablet (หน้าจอ 768px ลงมา) */
@media (max-width: 1100px) {
  .container,
  table {
    width: 100%;    
  }

  .container-head{
    flex-direction: column;
  }

  .head-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .head-text,
  .head-img {
    top: 0;
  }

  .welcome {
    font-size: 22px;
  }

  .name {
    font-size: 18px;
  }
}

/* Mobile (หน้าจอ 600px ลงมา) */
@media (max-width: 600px) {
  body {
    font-size: 15px;
  }

  .container {
    width: 95%;
    border-radius: 20px;
  }

  table {
    width: 100%;
    display: block;
    overflow-x: auto; /* ให้ scroll ได้ในแนวนอน */
    border-radius: 15px;
    white-space: nowrap;
  }

  table td {
    padding: 10px;
    font-size: 14px;
    white-space: nowrap;
  }

  .table-row .last-column a {
    padding: 4px 14px;
    font-size: 13px;
  }

  .logout a {
    padding: 6px 12px;
    margin-right: 10px;
    font-size: 14px;
  }

  .welcome {
    font-size: 20px;
  }

  .name {
    font-size: 16px;
  }
}