@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans+Thai:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;    
  font-family: "Roboto", sans-serif;
  font-family: "Noto Sans Thai", sans-serif;
}

.form-container{
  height: 800px;
  width:1400px ;
  display:grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content:space-around;
  box-shadow:0px 7px 29px 0 rgba(100,100,111,0.2) ;
  border-radius:15px;
  grid-gap:0px;
}

.form-box{
  padding: 60px;
  position:relative;
  top:-7%;
}

.head-text{
  margin:20px auto 40px;
}

.head-text span{
  opacity: 0.8;
  font-weight: 600;
}

.form-box input{
  display:block;
  margin:25px auto;
  border:1px solid rgba(0,0,0,0.1);
  box-shadow:0px 7px 29px 0px rgba(100,100,111,0.2);
  padding: 10px;
  border-radius:10px;
  width:400px;
  height: 30px;
  transition:all 0.2s ease-out;
  font-family: "Noto Sans Thai", sans-serif;
}

.form-box input:focus{
  border: 1px solid rgba(255, 103, 164,0.5) ;
  box-shadow: 0 0 15px rgba(255, 35, 123, 0.2);
  outline: none;
}

.form-box button{
  display:block;
  border:none;
  box-shadow:0px 7px 29px 0px rgba(100,100,111,0.2);
  padding: 10px;
  border-radius:10px;
  width: 400px;
  height: 50px;
  background-image:linear-gradient(to bottom right ,rgb(255, 103, 164) , black);
  color:rgb(255, 255, 255);
  margin:25px auto;
  transition:all 0.2s ease-out;
  cursor:pointer;
  font-family: "Noto Sans Thai", sans-serif;
}

.form-box button:hover{
  width: 420px;
}

.img-box{
  background-image: linear-gradient(to top right ,rgba(255, 103, 164,0.6)   , black );
  height: 700px;
  width: 600px;
  position:relative;
  border-radius:15px;
  
}

.img-box img{
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-50%,-50%);
}

.bottom-text{
  position:absolute;
}

.bottom-text .first-text-btm {
  display:inline-block;
  margin-top:100px;
  text-decoration:none;
  color:black;
  font-weight:500;
}

.bottom-text p {
  margin:0;
  padding:0;
}

/* responsive design */
@media screen and (max-width:1100px) {
  .form-container {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }

  .form-box input, 
  .form-box button {
    width: 90%;
  }

  .img-box {
    width: 100%;
    height: 600px;
  }
}

@media screen and (max-width: 1000px) {
  .form-container {
    grid-template-columns: 1fr;
    height: auto;
    width: 90%;
    padding: 20px;
  }

  .img-box {
    display: none; /* ซ่อนรูป */
  }

  .form-box {
    padding: 40px;
    top: 0;
  }

  
}

/* สำหรับจอมือถือ (กว้างไม่เกิน 600px) */
@media screen and (max-width: 600px) {
  body {
    align-items: flex-start;
    padding-top: 40px;
  }

  .form-container {
    width: 95%;
    box-shadow: none;
  }

  .form-box {
    padding: 20px;
  }


  .form-box button {
    font-size: 16px;
  }

  .head-text h1 {
    font-size: 22px;
  }

  .head-text span {
    font-size: 14px;
  }
}